/* Swiper */

.SwiperContainer {
  width: 100%;
  height: 121px;
  display: flex;
  gap: 65px;
  /* margin-left: 200px; */
}
.SwiperProducts {
  display: inline-block;
}
.SwiperContainer img {
  width: 95px;
  height: 95px;
  object-fit: contain;
}
.ProdName {
  color: #898989;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
