.MainDeal {
  width: 1540px;
  height: 888px;
}
.DealsContainer {
  width: 940px;
  height: 548px;
  background: url("./images/good.png"), lightgray 0px 0px / 100% 100% no-repeat;
  position: relative;
  top: 150px;
  left: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.Banner h4 {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1.964px;
  text-align: center;
  position: relative;
  top: 240px;
}
.Deals {
  display: flex;
  margin-left: 52px;
  margin-top: 200px;
}
.Deals h1 {
  color: #211e1e;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 1.296px;
}
.Deals h6 {
  color: #211e1e;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.55px;
  margin-top: 14px;
}
.DealsBtn {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 0.275px;
  width: 155px;
  height: 43px;
  margin-top: 23px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1.5px solid #227840;
  background: #227840;
  text-transform: uppercase;
}
.DealBox {
  width: 488px;
  height: 121px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px -2px 10px 0px rgba(216, 216, 216, 0.5),
    0px 2px 10px 0px rgba(216, 216, 216, 0.5);
  margin-left: 70px;
  display: flex;
}
.Rec1 {
  width: 8px;
  height: 121px;
  border-radius: 8px 0px 0px 8px;
  flex-shrink: 0;
  background: #016f34;
  position: relative;
}
.DealBox h2 {
  padding-top: 32px;
  padding-left: 30px;
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  width: 404px;
  font-weight: 700;
  line-height: 19px; /* 126.667% */
  letter-spacing: 0.375px;
}
.DealBox h4 {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding-top: 6px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-top: 6px;
  opacity: 0.5073;
}
.Group {
  margin-top: 20px;
}
.Bogo {
  margin-top: 44px;
}
