.SectionWrapper {
  width: 100%;
  height: 551px;
  display: flex;
  align-items: center;
  gap: 41px;
  justify-content: space-between;
}
.SectionWrapper img {
  width: 414px;
  height: 414px;
  flex-shrink: 0;
}
.brandName {
  color: #211e1e;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.786px;
  margin-top: 15px;
}
.ViewAll {
  color: #211e1e;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.55px;
  opacity: 0.6973;
  margin-top: 15px;
}
.SectionBtn {
  width: 206px;
  height: 43px;
  margin-top: 18px;
  border-radius: 6px;
  border: 1.5px solid #227840;
  background: #227840;
  color: #fff;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 0.275px;
}
