
.CategoryWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}


.PrerollHeader h3 {
  color: #211e1e;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 1.296px;
}

.ViewCategory {
  color: #211e1e;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.55px;
  margin-top: 14px;
  text-decoration: none;
}

.BtnPreroll {
  width: 155px;
  height: 43px;
  border-radius: 6px;
  border: 1.5px solid #227840;
  background: #227840;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-decoration: none;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 0.275px;
  display: block;
  margin-top: 23px;
  text-align: center;
  padding-top: 12px;
  text-transform: uppercase;
}
/* Cards */

.ProductWrapper {
  width: 100%;
  height: 344px;
  display: flex;
  gap: 26.11px;
  overflow-x: auto;
}

.CategoryCard {
  min-width: 25%;
  height: 231.885px;
  border: 1px solid #f9f9f9;
  background: #fff;
  text-align: center;
}

.CategoryCard img {
  width: 100%;
  height: 183.478px;
  /* margin: 10px; */
  object-fit: contain;
  position: relative;
  top: 30px;
}

.ProductName {
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.325px;
  margin-top: 40px;
}

.ProductPrice {
  color: #211e1e;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}
