.MainRewards {
  height: 603px;
  width: 100%;
  position: relative;
  top: 200px;
  left: 50px;
}

.RewardsContainer {
  width: 432px;
  height: 136px;
  flex-shrink: 0;
  position: relative;
  left: 390px;
}
.RewardsContainer h1 {
  color: #211e1e;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 1.296px;
}
.RewardsContainer h6 {
  color: #211e1e;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.55px;
  opacity: 0.6973;
  margin-top: 14px;
}
.RewardBtn {
  width: 155px;
  height: 43px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1.5px solid #227840;
  background: #227840;
  border-radius: 6px;
  border: 1.5px solid #227840;
  background: #227840;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 0.275px;
  margin-top: 23px;
  margin-left: 130px;
}
.Rewards {
  width: 1264px;
  /* height: 312px; */
  display: flex;
  gap: 26.11px;
}
.Reward {
  width: 231.885px;
  height: 231.885px;
  flex-shrink: 0;
  border: 1px solid #f9f9f9;
  background: #fff;
  text-align: center;
  padding-top: 22px;
}

.RewardText {
  margin-top: 30px;
  text-align: left;
}

.Reward img {
  width: 181.917px;
  height: 183.478px;
}
.Reward h6 {
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.275px;
  opacity: 0.6;
}
.Reward h1 {
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.325px;
}
.points h6 {
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  opacity: 0.5524;
}
.points img {
  width: 11.774px;
  height: 10.902px;
  position: relative;
  bottom: 16px;
  left: 35px;
}
