
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  margin-top: 1px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.NavbarContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}

.logo {
  width: 152px;
  height: 84px;
 
}

.LinkContainer{
 display: flex; 
 align-items: center;
 gap:40px;

 
}

.link {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #211e1e;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.51px;
  letter-spacing: 0.93px;
 
}

.IconContainer{
display: flex;
gap: 20px;
align-items: center; 
}

.icon {
  width: 15px;
  height: 15px;
  border: 1px;
  opacity: 0.7px;
}

.login {
  width: 36px;
  height: 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 15.51px;
  letter-spacing: 0.17px;
  color: #211e1e;
}

.signup {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.15px;
  text-align: center;
  color: #fff;
}
button {
  width: 78px;
  height: 40px;
  border-radius: 10px;
  background: #211e1e4d;
  border: none;
}
.line {
  width: 1px;
  height: 30px;
  border: 1px;
  opacity: 0.56px;
  background: #d8d8d8;
  border: 1px solid #d8d8d8;
}

.cart {
  width: 48px;
  height: 40px;
  background: #227840;
}
