.FooterContainer {
  width: 100%;
  height: 378px;
  display: flex;
  justify-content: space-between;
}
.Box1 {
  width: 119px;
  height: 160px;
  line-height: 30px;
  margin-left: 30px;
}
.Heading {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.55px;
  text-align: left;
  line-height: 45px;
}
ul li {
  list-style: none;
}
a {
  color: #211e1e;
  text-decoration: none;
}
.Box2 {
  width: 234px;
  height: 130px;
  line-height: 30px;
}
.Box3 {
  width: 390px;
  height: 125px;
  margin-top: 0px;
}
.Form {
  width: 390px;
  height: 50px;
}
.Input {
  width: 290px;
  height: 50px;
  background-color: #f0f1f1;
  border-radius: 6px;
  background-image: url("./images/email.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  border: none;
  padding-left: 10px;
}
.Input:focus {
  background-image: none;
}
h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  line-height: 25px;
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
}
.Btn {
  background-color: #227840;
  color: #fff;
  width: 100px;
  height: 50px;
  border: none;
}
.Box4 {
  width: 100%;
  height: 84px;
  position: relative;
  background: #f0f1f1;
  display: flex;
  justify-content: space-between;
}
.Foot {
  width: 100%;
  margin-top: 33px;
  margin-left: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.55px;
  text-align: left;
}
.Icons {
  width: 192px;
  height: 18px;
  margin-top: 33px;
  position: relative;
  /* right: 135px; */
  display: flex;
  justify-content: space-between;
  margin-right: 38px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.55px;
}
